---
layout: blog
author: alihardan
date: 2022-07-06
title: "راهنمای نصب بازی‌های سریر"
---

<p>بسیاری از کاربران سایت با مشکلاتی در هنگام نصب بازی‌های سریر مواجه شده‌اند. مدتی پیش چند سطری درباره‌ی نحوه‌ی نصب بازی‌های این شرکت بدون استفاده از ستاپ نوشتم:</p>
<blockquote style="font-style:italic">
راهی برای کپی فایل‌های بازی سریر بدون استفاده از فایل ستاپ وجود داره:
<br>
داخل دیسک اول فایلی به نام Setup.cab وجود داره. این فایل رو با WinRAR باز کنید. از شما پسورد میخواد؛ پسوردش اینه:
<br>
Sarir_CO_1
<br>
واضحه که باید اکسترکت کنیدش (در یکی از پوشه‌های مورد نظر سیستم خودتون). بعد توی دیسک دوم، فایل Setup2.cab رو هم کنار فایل‌های اکسترکت شده‌ی قبلی اکسترکت کنید (رمزش همونه).
<br>
بازی آمادس. (در محل اکسترکت شده)</blockquote>