<p class="invite green">
  برای همکاری در تکمیل آرشیو (ارسال بازی، کتابچه راهنما، کاور، مشخصات، یا هرچی)
  به مدیر گروه «نسخه‌ی فارسی» در تلگرام پیام بدید:
  <span dir="ltr">
    <a href="https://t.me/MJSAYR">@MJSAYR</a>
  </span>
</p>
<p
  style="
    margin: 0;
    padding: 0.2em;
    background: dodgerblue;
    color: #fff;
    font-size: 0.9em;
    text-align: justify;
    text-align-last: center;
    font-weight: bold;
  "
>
  برای ارسال اطلاعات،
  <a style="color: yellow" href="/copying-guide/">راهنمای تهیه‌ی کپی</a> رو به
  دقت مطالعه کنید.
</p>
<p class="admin">
  در صورت لزوم، با دیگر مدیران در ارتباط باشید:
  <span dir="ltr">
    <a href="https://t.me/alihardan">@alihardan</a>
  </span>، <span dir="ltr">
    <a href="https://t.me/AG_e_e_kA">@AG_e_e_kA</a>
  </span>
</p>