---
# this is an empty front matter to make liquid tags working. 
---
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- seo -%}
    <link href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/vazir-font@24.1.0/dist/font-face.css" rel="stylesheet" type="text/css" />
    <link href="/style.css?u1" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <h1><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
      <p>{{ site.description | escape }}</p>
    </header>
    <section id="about">
      <h1>چطور میشه بازی‌های فارسی رو تهیه کرد؟</h1>
      <div class="content">
        <p>اوایل دهه‌ی هشتاد بود که صنعت دوبله و فارسی‌سازی بازی‌های رایانه‌ای توی کشورمون پا گرفت و شروع به رشد کرد. شرکت‌ها و گروه‌های زیادی پا به کار گذاشتن و هر کدوم تلاش می‌کردن جای بهتری برای خودشون توی بازار پیدا کنن.</p>
        <p> کم بودن نظارت‌های دولتی، شرایط مناسب‌تر اقتصادی، و همچنین غیرممکن بودن تهیه‌ی رایگان بازی‌های حجیم از طریق اینترنت، از جمله عواملی بودن که کمک زیادی به رشد این صنعت کردن. بعد از مدت کوتاهی، بازارهای سراسر کشور از بازی‌هایی که به زبان شیرین فارسی برگردونده شده بودن پر شد، و این نتیجه‌ی رقابت نفس‌گیری بود بین شرکت‌های دوبله‌کننده. بعضی از آثار کیفیتی در حد شاهکار داشتن، و بعضی‌هاشون فقط قابل قبول بودن.</p>
        <p>بدبختانه امروز اکثر اون شرکت‌ها تعطیل شدن، و اغلب اون محصولات قابل تهیه نیستن. تا جایی که ما می‌دونیم، هیچ نهاد و یا سازمانی متولی حفظ و نگهداری این محصولات نشده. پس این کاری هست که خودمون باید انجام بدیم، تا این آثار و هنرهای ارزشمند فراموش نشن.</p>
        <figure>
          <img src="/handshake.svg" alt="همکاری" style="margin-top:-40px;margin-bottom:-40px;width:250px">
          <figcaption>تنها راه تهیه و حفظ این محصولات این هست که اون‌ها رو با هم‌دیگه به اشتراک بذاریم</figcaption>
        </figure>
        <p>ما اینجا کنار هم جمع شدیم تا با کمک علاقه‌مندان این کار مهم رو انجام بدیم؛ و از شما برای همکاری دعوت می‌کنیم. ما یک گروه اینترنتی تشکیل دادیم و بازی‌های فارسی خودمون رو بین اعضا به اشتراک می‌ذاریم. تلاش می‌شه از طریق همین وبسایت، دسترسی رایگان به بعضی از بازی‌های دوبله و یا ایرانی فراهم بشه، اما در حال حاضر دسترسی به بسیاری از عناوین فقط از طریق عضویت در گروه امکانپذیر هست. البته این وضعیت احتمالاً به مرور زمان تغییر می‌کنه و شاید روزی برسه که تمام بازی‌های فارسی از طریق همین صفحه قابل دانلود باشن...</p>
<p> شما هم می‌تونید به گروه ما بپیوندین و از بازی‌های آپلود شده بهره ببرین، به این شرط که حداقل دو عنوان از بازی‌های کمیاب رو ارائه کنین.</p>
        <p class="invite">جهت پیوستن به ما، به حساب تلگرام مدیر گروه، <span dir="ltr"><a href="https://t.me/mjsayr">@mjsayr</a></span>، پیام بدین.</p>
      </div>
    </section>
    <section id="list">
      <h1>لیست بازی‌های فارسی</h1>
      <div class="content">
      <p>تلاش می‌کنیم در اینجا لیست کاملی از بازی‌های دوبله به فارسی و بازی‌های ایرانی ارائه بدیم. در این لیست، مشخص شده که «چه بازی‌هایی در گروه آپلود شدن»، و «چه بازی‌هایی موجود و قابل دستیابی هستن اما هنوز آپلود نشدن»، و «چه بازی‌هایی مفقود و گمشده هستن»...</p>
      <table>
          <thead>
          <tr>
            <th>عنوان</th>
            <th>عنوان فارسی</th>
            <th>دوبله</th>
            <th>نوع فایل</th>
            <td>وضعیت</td>
          </tr>
          </thead>
          <tbody>
      {% assign games = site.data.games %}
      {% for game in games %}
      <tr class="{{ game.status }}">
      <td>{{ game.title }}&nbsp;</td>
      <td>{{ game.titlefa }}&nbsp;</td>
      <td>{% include companynames.html content=game.dubbedby %}&nbsp;</td>
      <td>{% include file_type.html content=game.file_type %}&nbsp;</td>
      <td>{% include status.html content=game.status %}&nbsp;</td>
      </tr>
      {% endfor %}
      </tbody>
        </table>
        <p>در حال حاضر لیست فوق بسیار ناقص هست. </p>
      </div>
    </section>
    <footer>
      <p>آخرین بروزرسانی سایت: ۴ اردیبهشت ۱۳۹۹</p>
      <p>میزبانی در <a href="https://github.com/oldpersiangames/oldpersiangames.github.io">گیت‌هاب</a>. برای مشارکت در توسعه‌ی این وب‌سایت، از گیت‌هاب اقدام کنید. همچنین می‌تونید با تلگرام مدیر وبسایت، <span dir="ltr"><a href="https://t.me/alihardan">@alihardan</a></span> در تماس باشید.</p>
    </footer>
  </body>
</html>
