

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Vazir', sans-serif;
  background: #f5f4f0;
  color: #2d2b31;
  line-height: 1.5;
}

a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  color: #000;
  margin: 1em 0;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #E6E6E6;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #1a222c;
  color: white;
}

figure {
  text-align: center;
}

figure figcaption {
  font-weight: bold;
}

header {
  background-color: #1a222c;
  color: #fff;
  text-align: center;
  overflow: auto;
  /* look at: https://stackoverflow.com/questions/20689575/css-margin-top-of-h1-affects-parents-margin */
}

footer {
  background-color: #1a222c;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

header h1 {
  font-size: 1.5em;
}

header h1 a:link,
header h1 a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}

section {
  overflow: auto;
}

section:nth-child(odd) {
  background: #1ABC9C;
  color: #fff;
}

section .content {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  padding: 0 10px;
}

section h1 {
  text-align: center;
}

.list h1 {
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

.invite {
  padding: 5px 0;
  background: green;
  text-align: center;
  font-weight: bold;
  color: #fff
}

.invite a:link,
.invite a:hover,
.invite a:visited,
.invite a:active {
  color: #FFE4C4;
}

