body {
  font-family: 'Vazir', sans-serif;
  color: #2d2b31;
  line-height: 1.5;
}

a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: red;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

figure {
  text-align: center;
}

figure figcaption {
  font-weight: bold;
}

header {
  background-color: #1a222c;
  color: #fff;
  text-align: center;
  overflow: auto;
  /* look at: https://stackoverflow.com/questions/20689575/css-margin-top-of-h1-affects-parents-margin */
}

footer {
  background-color: #1a222c;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
footer p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  font-size: 1.5em;
}

header h1 a:link,
header h1 a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}

section {
  overflow: auto;
}

section#about {
  background: #f5f4f0;
}

section#list {
  background: #f5f4f0;
}

section .content {
  margin: 0 auto;
  padding: 0 10px;
}

section .content {
  max-width: 1000px;
  margin: 0 auto;
}

section p {
  text-align: justify;
}

section h1 {
  text-align: center;
}

.invite {
  padding: 5px 0;
  background: green;
  text-align: center;
  font-weight: bold;
  color: #fff
}

.invite a:link,
.invite a:hover,
.invite a:visited,
.invite a:active {
  color: #FFE4C4;
}

#games .child {
  background: none !important;
}

#games .child table {
  width: 100%;
}

#games .child table td:nth-child(1) {
  font-weight:bold;width:1%;white-space:nowrap
}

#games .lost td {
  background: pink !important;
}
