---
layout: page
title: "چگونه مشارکت کنیم؟"
---

<p>هدف این وبسایت، جمع‌آوری و حفاظت از بازی‌های فارسی و جلوگیری از نابودی این آثار هست. عرضه‌ی اکثر این بازی‌ها در بازار سال‌هاست متوقف شده و ناشرین دست از کار کشیدن؛ و فایل‌های بیشتر این بازی‌ها، به سختی پیدا میشه. هدف ما این هست که با کمک هم‌دیگه این آثار رو جمع‌آوری کنیم و شرایطی رو ایجاد کنیم تا همه بتونن بصورت رایگان این آثار کم‌یاب رو دانلود و مورد استفاده قرار بدن.</p>

<p>شاید شما هم توی انبار یا لابلای وسایل قدیمی، یکی دو عنوان بازی فارسی قدیمی یا ملحقاتش رو داشته باشید. ازشون فایل کپی تهیه کنید و جهت آرشیو، نگهداری و انتشار، فایلش رو برامون ارسال کنید. اثری که ارسال می‌کنید، به نام خود شما در آرشیو ثبت میشه.</p>

<p style="border:thin solid #bbd;background-color:#ddf;padding:5px;">مشارکت‌کنندگان، در گروه گفتگوی خصوصی ویژه‌ی مشارکت‌کنندگان به نام <a href="/about/">«نسخه‌ی فارسی»</a> عضو می‌شوند. <small>(در ۲۷ خرداد ۱۴۰۱، گروه «نسخه‌ی فارسی» اعلام کرد که دیگر عضو جدید نمی‌پذیرد.)</small></p>


        <div style="border:1px solid #000">
          {% include "invite.html" %}
        </div>
