---
layout: page
title: "راهنمای تهیه‌ی کپی"
---

<h2>تهیه‌ی فایل کپی از بازی</h2>

<p>اگر بازی که می‌خواید ارسال کنید بر روی دیسک (CD یا DVD) منتشر شده، حتماً باید از دیسک، فایلی به عنوان «ایمیج» تهیه کنید. «ایمیج»، تک‌فایلی هست که شامل کپی تمام دیسک در یک فایل هست. فرایند تهیه‌ی فایل ایمیج رو باید برای تک‌تک دیسک‌ها بصورت جداگانه انجام بدین.</p>

<p>اگر اثری که در اختیار دارید بر دیسک عرضه نشده و یا دیسکش رو در اختیار ندارین، طبیعتاً امکان تهیه‌ی ایمیج وجود نداره. همون فایلی که در اختیارتون هست رو ارسال کنید.</p>

<p style="border:thin solid #bbd;background-color:#ddf;padding:5px;">توجه کنید که کپی کردن فایل‌های داخل دیسک بصورت دستی مورد تأیید نیست و حتماً باید از دیسک، بصورت مستقیم، ایمیج تهیه بشه.</p>

<h3>تهیه‌ی ایمیج</h3>

<p>نرم‌افزارهای مختلفی برای انجام این کار وجود داره. نرم‌افزار پیشنهادی ما در این آموزش، AnyBurn هست. با کلیک بر <a href="https://anyburn.com/anyburn_setup.exe">اینجا</a> آخرین نسخه‌ی این برنامه رو از سایت رسمی تهیه و سپس نصب کنید. این برنامه کاملاً رایگان هست.</p>

  <p>۱. برنامه‌ی AnyBurn را اجرا کنید و بر &quot;Copy disc to image file&quot; کلیک کنید.</p>
  <p><img style="max-width:100%" src="https://www.anyburn.com/tutorials/images/copy-disc-to-bin-cue-file-1.png"></p>
  <p>۲. درایوی که دیسک در آن قرار گرفته را انتخاب کنید و مسیر ذخیره‌ی ایمیج را مشخص کنید. فرمت فایل ایمیج را انتخاب کنید (فرمت پیشنهادی: ISO). سپس بر &quot;Create Now&quot; کلیک کنید.</p>
  <p><img style="max-width:100%" src="https://www.anyburn.com/tutorials/images/copy-disc-to-iso-file-2.png"></p>
  <p>۳. AnyBurn شروع به کپی دیسک در فایل ایمیج می‌کند.</p>
  <p><img style="max-width:100%" src="https://www.anyburn.com/tutorials/images/copy-disc-to-iso-file-3.png"></p>
</p>

<p>
در صورت شکست عملیات، بررسی کنید علت چی بوده. از علت‌های شایع، خش‌دار بودن دیسک و یا قفل‌دار بودن دیسک هست. دیسک‌های قفل‌دار با روش‌های معمولی قابل کپی نیستن و باید از نرم‌افزارهای بخصوصی استفاده کرد.
</p>

<h2>تهیه‌ی تصویر از جلد، دیسک و دیگر ملحقات</h2>

<p>
اگر دستگاه اسکنر (Image scanner) در اختیار دارید، جلد (پشت و رو)، دیسک، تمام صفحات کتابچه‌ی راهنما، و سایر ملحقات بسته رو اسکن کنید. در صورتی که این دستگاه رو در اختیار ندارید، می‌تونید از دوربین‌ها (از جمله دوربین گوشی) استفاده کنید. برای اینکه تصویر کیفیتی مناسب داشته باشه، کاور رو بر یک کاغذ یا مقوای کاملاً سفید قرار بدید. در محیطی با نور مناسب، از زاویه‌ی مستقیم و با فاصله‌ی کم، اقدام به عکس‌برداری کنید. تجربه نشون داده عکس‌برداری در سایه‌ی روز، نتیجه‌ی مناسب‌تری نسبت به استفاده از نور چراغ داره.
</p>

<h2>کپی‌ها رو گرفتم. حالا چطوری ارسال کنم؟</h2>

<p>
فایل‌های تهیه شده رو می‌تونید در هر فضایی آپلود کنید و به رابط سایت دسترسی به فایل رو بدید (لینک رو براش ارسال کنید). تلگرام، گوگل درایو و mega.nz، فضاهای مناسبی برای آپلود فایل‌ها هستن. ما فایل آپلودی شما رو به فضاهایی که برای آرشیو در نظر گرفتیم منتقل خواهیم کرد.

</p>

        <div style="border:1px solid #000">
          {% include "invite.html" %}
        </div>