---
layout: page
title: "راهنمای نصب بازی‌ها"
---

<p>در اینجا نوشتارهای مربوط به نصب و اجرای بازی‌های قدیمی جمع‌آوری می‌شوند. اگر مقاله‌ای آماده کرده‌اید، می‌توانید آن را برای قرار گرفتن در سایت کنید.</p>

<ul>
  <li><a href="/guides/sarirgame-installation/">راهنمای نصب بازی‌های سریر</a></li>
</ul>