---
datatables: true
has_modal: true
layout: base
---
    <section id="about">
    <div class="inner">

        {% include "bulletin1.html" %}
        {# include "bulletin2.html" #}

      <h2>چطور میشه بازی‌های فارسی رو تهیه کرد؟</h2>
        <p>
اوایل دهه‌ی هشتاد بود که صنعت بازی‌سازی و فارسی‌سازی بازی‌های رایانه‌ای توی کشورمون پا گرفت و شروع به رشد کرد. شرکت‌ها و گروه‌های زیادی پا به کار گذاشتن و هر کدوم تلاش می‌کردن جای بهتری برای خودشون توی بازار پیدا کنن.</p>
        <p> کم بودن نظارت‌های دولتی، شرایط مناسب‌تر اقتصادی، و غیرممکن بودن تهیه‌ی رایگان بازی‌های حجیم از طریق اینترنت، از عواملی بودن که کمک زیادی به رشد این صنعت کردن. بعد از مدت کوتاهی، بازارهای سراسر کشور از بازی‌هایی که به زبان شیرین فارسی منتشر شده بودن پر شد، و این نتیجه‌ی رقابت نفس‌گیری بود بین شرکت‌ها و گروه‌های مختلف. بعضی از آثار کیفیتی در حد شاهکار داشتن، و بعضی‌هاشون فقط قابل قبول بودن.</p>
        <p>بدبختانه امروز اکثر اون شرکت‌ها تعطیل شدن، و اغلب اون محصولات قابل تهیه نیستن. تا جایی که ما می‌دونیم، هیچ نهاد و یا سازمانی متولی حفظ و نگهداری این محصولات نشده. پس این کاری هست که خودمون باید انجام بدیم، تا این آثار و هنرهای ارزشمند فراموش نشن.</p>
        <figure>
          <img src="/handshake.svg" alt="همکاری" style="width:250px">
          <figcaption>تنها راه تهیه و حفظ این محصولات این هست که اون‌ها رو با هم‌دیگه به اشتراک بذاریم.</figcaption>
        </figure>
        <p>ما اینجا کنار هم جمع شدیم تا با کمک علاقه‌مندان این کار مهم رو انجام بدیم؛ و از شما برای همکاری دعوت می‌کنیم. ما یک مجموعه‌ی اینترنتی تشکیل دادیم و بازی‌های فارسی سراسر کشور رو به کمک علاقه‌مندان داوطلب جمع‌آوری می‌کنیم. هدف ما این هست که تمام بازی‌های قدیمی فارسی، بصورت رایگان، از طریق این وبگاه قابل تهیه باشن.</p>

      </div>
    </section>
    <section id="list">
    	<div class="inner">
      <h2>لیست بازی‌های فارسی</h2>
<p>
<button id="show-all" type="button">نمایش همه ✓</button>
<button id="show-iranian" type="button">نمایش بازی‌های ایرانی</button>
<button id="show-dubbed" type="button">نمایش بازی‌های دوبله</button>

{# <button id="btn-show-all-children" type="button">نمایش همه‌ی جزئیات</button>
<button id="btn-hide-all-children" type="button">مخفی کردن همه‌ی جزئیات</button>
<span style="float:left;color:#FF0000;font-weight:bold">تعداد بازی‌های آپلود شده: <span id="upgames">{% set upcount = 0 %}{%- for game in collections.games -%}{% if game.data.game.files | length %}{% set upcount = upcount + 1 %}{% endif %}{%- endfor -%}{% set upcount = 700 %}حدود {{ upcount | toPersianDigits }}</span> #}
</p>

      <ul class="list-of-games-guide">
        <li>عناوین با رنگ پیشفرض، بازی‌هایی هستند که بصورت کامل تهیه و آپلود شده‌اند.</li>
        <li>عناوین مشخص شده با این رنگ، تهیه و آپلود شده‌اند؛ اما نواقصی دارند.</li>
      	<li>عناوین مشخص شده با این رنگ، مفقود شده و در حال حاضر هیچ نسخه‌ای از آن‌ها موجود نمی‌باشد.</li>
      </ul>

<hr style="clear:both">
      <table class="display" id="games" style="width:100%">
          <thead>
          <tr>
            <th></th>
            <th class="none">کاور</th>
            <th data-priority="1">عنوان انگلیسی</th>
            <th data-priority="3">عنوان فارسی</th>
            <th class="none">تولیدکننده</th>
            <th data-priority="2">ناشر</th>
            <th class="none">تاریخ(های) انتشار</th>
            <th class="none">نواقص</th>
            <th data-priority="1">دانلود</th>
          </tr>
          </thead>
        </table>
      </div>
    </section>
