---

permalink: /sitemap.xml
eleventyExcludeFromCollections: true

---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
    {% for page in collections.all %}
        {% if not page.data.draft %}
            <url>
                <loc>{{ site.url }}{{ page.url | url }}</loc>
                {% if not page.data.game %}
                    <lastmod>{{ page.date.toISOString() }}</lastmod>
                {% else %}
                    {% if page.data.game.updated_at %}
                        <lastmod>{{ page.data.game.updated_at }}</lastmod>
                    {% endif %}
                {% endif %}
                {% if page.data.game %}{% set game = page.data.game %}
                    {% if game.photos | length %}
                        <image:image>
                            <image:loc>{{ site.url }}{{ game | getFirstPhotoPath }}</image:loc>
                        </image:image>
                    {% endif %}
                {% endif %}
                <changefreq>{{ page.data.changeFreq if page.data.changeFreq else "monthly" }}</changefreq>
                {% if 1 == 2 %}
                    <priority>{{ item.data.priority }}</priority>
                {% endif %}
            </url>
        {% endif %}
    {% endfor %}
</urlset>